form {
    height: 50%;
    background-color: lightgrey;
    box-sizing: content-box;
    margin-top: 200px;
    margin-right: 750px;
    margin-left: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
}
body {
    background-color: rgba(10, 240, 114, 0.603);
}