tr {
    padding: 15px;
    margin: 15px;
    text-decoration: none;
}
table, td, th {
    border: 1px solid black;
}

table, td, th {
    
    padding: 10px;
    
    
}
tr:hover {
    background-color: grey;
    
}
tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.4);
}
    